@import "../../variables";
@import "../../headers";
@import "../../media-mixins";

:host {
  header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .title {
      font-size: $header-font-sm;
      font-family: $neris-black;
      margin-right: 10px;
      max-width: 80%;
    }
    hr {
      flex: 1;
      border-top: 1px solid $dark;
    }
  }
}

@include media-md {
  :host {
    header {
      margin-bottom: 40px;

      .title {
        font-size: $header-font-md;
        margin-right: 50px;
      }
      hr {
        border-bottom-width: 2px;
      }
    }
  }
}

@include media-lg {
  :host {
    header {
      margin-bottom: 60px;

      .title {
        font-size: $header-font-lg;
      }
    }
  }
}

:host-context(.dark, .green, .grey) {
  header hr {
    border-color: $light;
  }
}