<footer>
  <div class="title">
    <span class="droidcon">droidcon</span>
    <span class="krakow">Kraków 2017</span>
  </div>

  <div class="contact">
    <a href="mailto:contact@droidcon.pl"
       target="_top">contact@droidcon.pl</a>
  </div>

  <div class="social-media">
    <a href="https://www.facebook.com/droidconpl" target="_blank">
      <img markup-inline src="../../assets/images/facebook.svg" alt="Facebook Icon">
    </a>
    <a href="https://twitter.com/droidconkr" target="_blank">
      <img markup-inline src="../../assets/images/twitter.svg" alt="Twitter Icon">
    </a>
    <a href="https://www.youtube.com/c/droidconKrakow" target="_blank">
      <img markup-inline src="../../assets/images/youtube.svg" alt="Youtube Icon">
    </a>
    <a href="http://droidcon.com/" target="_blank" class="global">
      <img src="../../assets/images/dc-logo.png" alt="droidcon Global logo">
    </a>
  </div>

</footer>