@import "../shared/variables";

//TODO: add mixin for hover translation for all the links
//TODO: add styles for wider screens

:host {
    background-color: $bg-dark;
    width: 100%;
    color: white;
    font-family: $neris-black;
    font-size: $font-xs;
    padding: 10px 0;

    footer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        section {
            margin-bottom: 10px;
            font-size: $font-xs;
            &:last-child {
                margin-bottom: 0;
            }
            h1 {
                font-size: inherit;
                margin-bottom: 3px;
            }
            a {
                font-family: $neris-light;
                text-decoration: none;
                color: inherit;
                &:hover {
                    color: $green;
                }
            }
            a + a {
                margin-left: 20px;
            }

            &.social-media {
                a {
                    display: inline-block;
                    height: 20px;
                }
                a * {
                    height: inherit;
                }
                a + a {
                    margin-left: 25px;
                }
                a:hover .cls-1{
                    fill: $green;
                }
            }

            &.droidcon-global {
                img {
                    height: 20px;
                    margin-right: 10px;
                }
                p {
                    font-family: $neris-light;
                    display: inline-block;
                    margin: 0;
                    text-align: left;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    :host {
        padding: 20px 0;
        footer {
            flex-flow: row;
            text-align: left;
            height: 50px;
            section {
                margin-bottom: 0;
                margin-right: 50px;
                font-size: $font-md;
                height: 100%;
                &.social-media,
                &.droidcon-global {
                    display: flex;
                    align-items: center;
                    a {
                        height: 30px;
                    }
                    a + a {
                        margin-left: 25px;
                    }
                }

                &.droidcon-global {
                    img {
                        height: 30px;
                        margin-right: 10px;
                    }
                    p {
                        font-family: $neris-light;
                        display: inline-block;
                        margin: 0;
                        text-align: left;
                    }
                }
            }
        }
    }
}