<footer class="container">
    <div class="row">
        <section class="col-12 col-sm-6 col-lg-3">
            <h1>About:</h1>
            <a routerLink="/code-of-conduct" routerLinkActive="active">Code Of Conduct</a>
            <a routerLink="/faq" routerLinkActive="active">FAQ</a>
        </section>

        <section class="col-12 col-sm-6 col-lg-3">
            <h1>Contact:</h1>
            <a href="mailto:contact@droidcon.pl" target="_top">contact@droidcon.pl</a>
        </section>


        <section class="col-12 col-sm-6 col-lg-3">
            <h1>Previous editions:</h1>
            <a href="http://2016.droidcon.pl"
               target="_blank">2016</a>
            <a href="http://2015.droidcon.pl"
               target="_blank">2015</a>
            <a href="http://2014.droidcon.pl"
               target="_blank">2014</a>
        </section>

        <section class="col-12 col-sm-6 col-lg-3 social-media">
            <a href="https://www.facebook.com/droidconpl" target="_blank">
                <img markup-inline src="../../assets/images/facebook.svg" alt="Facebook Icon">
            </a>
            <a href="https://twitter.com/droidconkr" target="_blank">
                <img markup-inline src="../../assets/images/twitter.svg" alt="Twitter Icon">
            </a>
            <a href="https://www.youtube.com/c/droidconKrakow" target="_blank">
                <img markup-inline src="../../assets/images/youtube.svg" alt="Youtube Icon">
            </a>
        </section>

        <section class="col-12 col-lg-4 ml-auto droidcon-global">
            <a href="http://droidcon.com/"
               target="_blank">
                <img src="../../assets/images/dc-logo.png"
                     alt="droidcon Global logo">
                <p>Mobile Seasons GmbH</p>
            </a>
        </section>
    </div>

</footer>