@import "../variables";
@import "../headers";
@import "../media-mixins";

:host {
    background-color: $light;
    padding: 30px 0;
    display: block;

    header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .title {
            margin-right: 10px;
            max-width: 80%;
        }
        hr {
            flex: 1;
            border-top: 1px solid $dark;
        }
    }

    //Color mode
    &.white {
        background-color: $white;
    }
    &.dark {
        background-color: $dark;
    }
    &.green {
        background-color: $green;
    }
    &.grey {
        background-color: $grey;
    }
    &.dark, &.green, &.grey {
        color: $light;
        header hr {
            border-color: $light;
        }
    }

    // View mode
    &.separate-page {
        padding: 80px 0 20px;
        @include media-lg {
            padding: 120px 0 40px;
        }
    }
}

@include media-md {
    :host {
        padding: 30px 0 50px;

        header {
            margin-bottom: 20px;
            .title {
                margin-right: 50px;
            }
            hr {
                border-top: 2px solid $dark;
            }
        }
    }
}