@import '../shared/headers';
@import '../shared/link';

:host {
    flex: 1;
    padding: 80px 0 20px;

    section {
        margin-top: 20px;
    }
}

@include media-lg {
    :host {
        padding: 120px 0 40px;
    }
}