<div class="container">
    <div class="row">
        <h1 class="col-12">FAQ</h1>
    </div>

    <div class="row">
        <section class="col-12">
            <h3>General information</h3>
            <ol>
                <li>
                    <h5>Date, time and place</h5>
                    <p>
                        droidcon Kraków 2017 will be held on 1st-2nd December 2017 at WPiA Jagiellonian University,
                        Krupnicza 33a, 31-123 Kraków, Poland.
                        <a class="link green"
                           href="https://goo.gl/maps/9kxxi4so9F92"
                           target="_blank" rel="noopener">MAP
                        </a>
                    </p>
                </li>
                <li>
                    <h5>Language of the conference</h5>
                    <p>
                        The conference will be held entirely in English including all of the talks, welcome and closing
                        speeches.
                    </p>
                </li>
                <li>
                    <h5>Code of Conduct</h5>
                    <p>
                        As an attendee, speaker, sponsor or partner you are obligated to respect the
                        <a class="link green"
                           routerLink="/code-of-conduct"
                           routerLinkActive="active">Code of Conduct
                        </a>
                        of the conference under the penalty of removal from conference without the right to
                        reimbursement of the ticket.
                    </p>
                </li>
            </ol>
        </section>
    </div>

    <div class="row">
        <section class="col-12">
            <h3>Registration</h3>
            <ol>
                <li>
                    <h5>Obtaining a ticket</h5>
                    <p>
                        You can obtain your ticket at
                        <a class="link green" href="https://goo.gl/jDTiXm" target="_blank" rel="noopener">
                            Eventbrite droidconPL2017 registration website
                        </a>.
                    </p>
                </li>
                <li>
                    <h5>Ticket prices</h5>
                    <ul>
                        <li>
                            <strong>Early Birds</strong> available from 4th Sep 2017 to 29th Sep 2017 10:00AM (or until
                            sold out) for 249PLN* (around 60€ **)
                        </li>
                        <li>
                            <strong>Standards</strong> available from 29th Sep 2017 to 20th Nov 2017 10:00AM (or until
                            sold out) for 399PLN* (around 95€ **)
                        </li>
                        <li>
                            <strong>Late Birds</strong> available from 20th Nov 2017 to 2 Dec 2017 (or until sold out)
                            for 469PLN* (around 110€ **)
                        </li>
                        <p>
                            <span class="block">*Prices do not include VAT and Eventbrite fees.</span>
                            <span class="block">**Dependable on current exchange rate.</span>
                        </p>

                    </ul>
                </li>
                <li>
                    <h5>Tickets include</h5>
                    <ul>
                        <li>Entrance to all talks during both day of the conference.</li>
                        <li>Lunch and coffee breaks.</li>
                        <li>Swag bag including a droidcon Kraków 2017 branded T-shirt.</li>
                    </ul>
                </li>
                <li>
                    <h5>Reimbursement policy</h5>
                    <p>
                        Please keep in mind that we <strong>do not</strong> provide reimbursement for tickets purchased
                        for droidcon Kraków 2017. However, there is the possibility to rebook your ticket to another
                        person. In that case, please contact us at contact+rebook@droidcon.pl for further information.
                    </p>
                </li>
            </ol>

        </section>
    </div>

    <div class="row">
        <section class="col-12">
            <h3>Promotions</h3>
            <ol>
                <li>
                    <h5>1+1 Promo</h5>
                    <ol>
                        <li>First 30 tickets purchased by women give the right to obtain an extra ticket for #droidconPL2017.</li>
                        <li>
                            Ticket that was used in this promotion cannot be rebooked to another person, hence only the
                            first person registered to this ticket has the right to enter the conference.
                        </li>
                        <li>The free ticket obtained within this promotion is not exchangeable or refundable.</li>
                        <li>The free ticket obtained within this promotion gives the same rights to an attendee as any other ticket to #droidconPL2017.</li>
                    </ol>
                    <p>
                        To obtain an extra ticket email us with your order number on
                        <a class="link green"
                           href="mailto:contact+promo@droidcon.pl"
                           target="_blank" rel="noopener">contact+promo@droidcon.pl
                        </a>
                    </p>
                </li>
                <li>
                    <h5>Group discounts</h5>
                    <p>
                        When buying more than one ticket* a buyer can get a discount:
                    </p>
                    <ul>
                        <li>2-4 tickets: 10% off</li>
                        <li>5+ tickets: 25% off</li>
                    </ul>
                    <p>
                        To obtain a discount email us on
                        <a class="link green"
                           href="mailto:contact+group@droidcon.pl"
                           target="_blank" rel="noopener">contact+group@droidcon.pl
                        </a>
                    </p>
                    <p>
                        <span class="block">*This promo doesn't include Early Bird tickets.</span>
                    </p>
                </li>

            </ol>
        </section>
    </div>

    <div class="row">
        <section class="col-12">
            <h3>Call For Papers & Agenda</h3>
            <ol>
                <li>
                    <h5>Becoming a Speaker</h5>
                    <p>
                        To become a speaker at droidcon Kraków 2017 you have to fill the
                        Call For Papers form and wait for our reply. Usually it takes around two weeks for us to get back to you with
                        a decision. If we miss this date please be considerate that we are working hard on choosing the
                        best lineup and it might take some more time sometimes.

                    </p>
                </li>
                <li>
                    <h5>Talk and workshop duration</h5>
                    <ul>
                        <li>Talk slots are 30 or 45 minutes long.</li>
                        <li>Workshop slots are <strong>up to 2 hours</strong>, <strong>between 2 and 4 hours</strong>
                            and <strong>more than 4 hours</strong> long.
                        </li>
                    </ul>
                </li>
                <li>
                    <h5>Speaker reimbursements</h5>
                    <p>
                        If there is a need we can organize an accommodation for a Speaker for the conference duration.
                        We don’t usually cover travel expenses. However, there is a possibility for your company to
                        become a Travel Partner when travel expenses are covered from their end. Contact us for more
                        details about this partnership
                        <a class="link green"
                           href="mailto:contact+partner@droidcon.pl"
                           target="_blank" rel="noopener">contact@droidcon.pl
                        </a>.
                    </p>
                </li>
            </ol>
        </section>
    </div>

    <div class="row">
        <section class="col-12">
            <h3>Barcamp sessions</h3>
            <ol>
                <li>
                    <h5>The idea</h5>
                    <p>
                        General idea of Barcamp sessions is to give a chance to speak on the stage for those who didn’t
                        get to the agenda through Call4Paper voting or didn’t have the opportunity yet to become a speaker before.
                    </p>
                </li>
                <li>
                    <h5>How to do it</h5>
                    <p>
                        Send us an email to
                        <a href="mailto:contact@droidcon.pl" class="link green">contact@droidcon.pl</a>
                        with your full name, a title and short description (3-4 sentences)
                        the talk. Make sure to put <strong>“Barcamp session”</strong> in email title.
                        <br/>During the conference we will tell you to
                        come to the stage and quickly present it in few words in front of the audience. After you do, we ask
                        them to show us if they like it or not. When they clap their hands loudly - hurray! You can present
                        topic within one of the Barcamp slots.
                    </p>
                </li>
                <li>
                    <h5>Barcamp slot length</h5>
                    <p>
                        Slots are 20 minutes long and there is no time for QA.
                    </p>

                    <p class="big-paragraph">
                        <strong>Don't be shy and try! :)</strong>
                    </p>
                    <p class="big-paragraph">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DR-IQ_dfBns"
                                frameborder="0" allowfullscreen></iframe>
                    </p>
                </li>
            </ol>
        </section>
    </div>
</div>