<div class="container">
    <div class="row">
        <h1 class="col-12">FAQ</h1>
    </div>

    <div class="row">
        <section class="col-12">
            <h3>Registration</h3>
            <ol>
                <li>
                    <h5>
                        How do I get a ticket to droidcon Kraków 2017?
                    </h5>
                    <p>
                        You can obtain your ticket at Eventbrite
                        <a class="green" href="https://goo.gl/jDTiXm" target="_blank">
                            droidconPL2017 registration website
                        </a>.
                    </p>
                </li>
                <li>
                    <h5>
                        What are ticket prices in 2017?
                    </h5>
                    <ul>
                        <li>
                            Early Bird available from 4th Sep 2017 to 29th Sep 2017 10:00AM (or until sold out)
                            for 249 PLN* (around 60 € **)
                        </li>
                        <li>
                            Standard available from 29th Sep 2017 to 20th Nov 2017 10:00AM (or until sold out) for 399
                            PLN* (around 95 € **)
                        </li>
                        <li>
                            Late Bird available from 20th Nov 2017 to 2 Dec 2017 (or until sold out) for 549 PLN*
                            (around 130 € **)
                        </li>
                        <p>
                            <span class="block">*Prices do not include VAT and Eventbrite fees.</span>
                            <span class="blockx">**Dependable on current exchange rate.</span>
                        </p>

                    </ul>
                </li>
                <li>
                    <h5>
                        What is included in the ticket price?
                    </h5>

                    <ul>
                        <li>Entrance to all talks during both day of the conference.</li>
                        <li>Lunch and coffee breaks.</li>
                        <li>Swag bag including a droidcon Kraków 2017 branded T-shirt.</li>
                    </ul>
                </li>
                <li>
                    <h5>
                        Reimbursement policy
                    </h5>
                    <p>
                        Please keep in mind that we <strong>do not</strong> provide reimbursement for tickets purchased
                        for droidcon
                        Kraków 2017. However, there is the possibility to rebook your ticket to another person. In that
                        case, please contact us at contact+rebook@droidcon.pl for further information.
                    </p>
                </li>
            </ol>

        </section>
    </div>

    <div class="row">
        <section class="col-12">
            <h3>General information</h3>
            <ol>
                <li>
                    <h5>
                        Date, time and place
                    </h5>
                    <p>
                        droidcon Kraków 2017 will be held on 1-2 December 2017
                        at WPiA Jagiellonian University, Krupnicza 33a, 31-123 Kraków, Poland.
                    </p>
                </li>
                <li>
                    <h5>
                        Language of the conference
                    </h5>
                    <p>
                        The conference will be held entirely in English
                        including all of the talks, welcome and closing speeches.
                    </p>
                </li>
                <li>
                    <h5>
                        Code of Conduct
                    </h5>
                    <p>
                        Each attendee, including speakers, sponsors, partners and attendees,
                        is obligated to respect the
                        <a class="green"
                           routerLink="/code-of-conduct"
                           routerLinkActive="active">Code of Conduct
                        </a>
                        of the conference.
                    </p>
                </li>
            </ol>
        </section>
    </div>

    <div class="row">
        <a class="col-12 green" routerLink="" routerLinkActive="active">Home</a>
    </div>
</div>