<background></background>

<section class="logo">
    <section class="krakdroid-wrapper">
        <img markup-inline class="krakdroid" src="../../../assets/images/krakdroid-01.svg" alt="krakdroid">
        <div class="conference-info">
            <span class="name shadow-span">droidcon</span>
            <span class="date shadow-span">1st-2nd December 2017</span>
        </div>
    </section>

    <section class="address shadow-span">
          WPiA Jagiellonian University<br/>
          ul. Krupnicza 33a, Kraków
    </section>

    <section class="main-buttons">
        <sh-button routerLink="/agenda"
                   routerLinkActive="active"
        >Agenda</sh-button>
    </section>
</section>