<app-section class="separate-page light"
             [title]="'droidcon \'17 lineup'">
    <p class="big-paragraph">
        Below you will find a list of speakers for droidcon Kraków 2017. This list will be still growing
        so follow us to be up to date with all the news!
        The list of talks will be released soon.
    </p>

    <div class="container">
        <div class="row speakers">
            <profile class="col-6 col-sm-4"
                     *ngFor="let i of speakers"
                     [profile]="i"
            ></profile>
        </div>
    </div>

    <p class="big-paragraph">
        Call For Papers closes on 31st October. So you still have a chance to get your place in the agenda!
    </p>

    <a class="button green"
       href="https://goo.gl/forms/j2o5cgCfF3mIgI523"
    target="_blank" rel="noopener">Submit your paper</a>

</app-section>