<app-section class="separate-page light"
             [title]="'droidcon \'17 lineup'">
    <p class="big-paragraph">
        Below you will find a list of speakers for droidcon Kraków 2017.
    </p>

    <div class="container">
        <div class="row speakers">
            <profile class="col-6 col-sm-4"
                     *ngFor="let i of speakers"
                     [profile]="i"
            ></profile>
        </div>
    </div>

    <p class="big-paragraph">
        Call For Papers closed on 31st October. You still have a chance to get your place in the agenda by talking during Barcamp!
        Wait for more news!
    </p>
</app-section>