@import "../shared/components";
@import "../shared/media-mixins";

:host {
    flex: 1;

    .speakers {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    a.button {
        margin: 20px auto 0;
    }
}

@include media-lg {
    :host {
        .speakers {
            margin: 40px 0;
        }
        a.button {
            margin: 40px auto 0;
        }
    }
}