//Colors
$white: #FFFFFF;
$light: #EEEDEC;
$green: #8ACE01;
$green-01: #63A000;
$grey: #4D4D4D;
$dark: #1D1D1B;

//Background colors
$bg-light: $light;
$bg-dark: $dark;


//Fonts
$neris-light: 'nerisLight', sans-serif;
$neris-black: 'nerisBlack', sans-serif;
$neris-semi-bold: 'nerisSemiBold', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;


//Font sizes
$font-xs: 16px;
$font-md: 18px;
$font-lg: 20px;

//Z-indexes
$menu-index: 10;