@import "variables";
@import "media-mixins";

//------------------Buttons
.button {
    color: $white;
    background-color: $green;
    display: flex;
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    margin: 5px 10px;
    transition: background-color .2s ease-in;
    font-family: $neris-semi-bold;
    font-size: $font-xs;
    cursor: pointer;
    outline: none;
    &:hover, &:visited, &:active, &:focus {
        text-decoration: none;
    }
    &:hover {
        background-color: $green-01;
    }
}

@include media-md {
    .button {
        height: 45px;
        width: 200px;
        font-size: $font-lg;
        margin: 0 10px;
    }
}

//------------------Inputs
.input {
    width: 100%;
    height: 35px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    color: $dark;
    font-size: $font-xs;
    outline: none;
}

@include media-md {
    .input {
        height: 45px;
        font-size: $font-lg;
    }
}

//------------------Paragraph
p.small-paragraph,
p.big-paragraph {
    width: 80%;
    margin: 0 auto 10px;
    text-align: center;
}

@include media-md {
    p.small-paragraph {
        width: 40%;
    }
    p.big-paragraph {
        width: 60%;
    }
}