@import "variables";
@import "media-mixins";

.input {
  width: 100%;
  height: 35px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  color: $dark;
  font-size: $font-sm;
  outline: none;
}

@include media-md {
  .input {
    height: 45px;
    font-size: $font-lg;
  }
}
