<app-section class="light"
             [title]="'Meet our Partners'">
    <div class="partner-block community-partners container">
        <div class="row partners">
            <a href="{{i.websitelink}}"
               target="_blank"
               *ngFor="let i of partners"
               class="partner"
               [class.disactivate]="!i.websitelink">
                <img src="{{i.logourl}}" alt="{{i.name}} logo">
            </a>
        </div>
    </div>

    <sh-button [url]="'mailto:contact+partner@droidcon.pl'"
               [isExternal]="true"
    >Become a partner</sh-button>
</app-section>