<app-section class="partner-block light"
             [title]="'Meet our Partners'">
    <p class="big-paragraph">
        droidcon Kraków has many friends. We wouldn't be where we are now without them.
        We help each other to share news about events and news among the communities.

    </p>

    <div class="partner-block community-partners container">
        <div class="row partners">
            <a href="{{i.websitelink}}"
               target="_blank"
               *ngFor="let i of partners"
               class="partner"
               [class.disactivate]="!i.websitelink">
                <img src="{{i.logourl}}" alt="{{i.name}} logo">
            </a>
        </div>
    </div>

    <a href="mailto:contact+partner@droidcon.pl" class="button"
       target="_blank" rel="noopener">Become a partner</a>
</app-section>