@import 'shared/variables';
@import "shared/media-mixins";

:host {
    background-color: $bg-light;
    font-family: $neris-light;
    font-size: $font-sm;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@include media-md {
    :host {
        font-size: $font-md;
    }
}

@include media-lg {
    :host {
        font-size: $font-lg;
    }
}

