<app-section *ngIf="speaker" class="separate-page light">
    <div class="container">
        <div class="row speaker">
            <img src="{{speaker.photourl}}" alt="{{speaker.name}} photo">
            <div class="description">
                <span class="name">{{speaker.name}} {{speaker.surname}}</span>
                <span class="title">{{speaker.title}}</span>
                <p class="big-paragraph biography">
                    {{speaker.biography}}
                </p>
            </div>
        </div>
    </div>

    <hr/>

    <div class="container">
        <div class="row talk">
            <span class="title">{{talk.title}}</span>
            <p class="big-paragraph description">{{talk.description}}</p>
        </div>
    </div>

    <sh-button routerLink="/speakers"
               routerLinkActive="active"
    >View all speakers</sh-button>
</app-section>