<app-section class="separate-page light"
             [title]="'droidcon \'17 agenda'">
    <div *ngIf="!(agenda && talks)" class="loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <p *ngIf="agenda && talks" class="big-paragraph">
        Here is a full agenda for droidcon Kraków 2017! Please keep in mind
        that some slight changes may apply.
    </p>
    <tabs *ngIf="agenda && talks">
        <tab tabTitle="Friday">
            <table class="agenda">
                <tr class="header">
                    <th>Room A</th>
                    <th>Room B</th>
                    <th>Room C</th>
                </tr>
                <tr *ngFor="let session of filterDay(1)">
                    <td colspan="3">
                        <table class="table-row">
                            <tr class="hour-row">
                                <td colspan="1" class="line"></td>
                                <td class="hour">
                                    {{session.starthour}}
                                    <span *ngIf="session.endhour"> - {{session.endhour}}</span>
                                </td>
                                <td colspan="1" class="line"></td>
                            </tr>
                            <tr class="session-row">
                                <td [attr.colspan]="setColspan(session.session1id)">
                                    <div class="with-image">
                                        <img *ngIf="session.imageurl" src="{{session.imageurl}}">
                                        <a [routerLink]="['/talks', session.session1id]"
                                           routerLinkActive="active">{{filterTalk(session.session1id) || session.text}}</a>
                                    </div>

                                </td>
                                <td [ngClass]="{'empty': !session.session1id}">
                                    <a [routerLink]="['/talks', session.session2id]"
                                       routerLinkActive="active">{{filterTalk(session.session2id)}}</a>
                                </td>
                                <td [ngClass]="{'empty': !session.session1id}">
                                    <a [routerLink]="['/talks', session.session3id]"
                                       routerLinkActive="active">{{filterTalk(session.session3id)}}</a>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </tab>
        <tab tabTitle="Saturday">
            <table class="agenda">
                <tr class="header">
                    <th>Room A</th>
                    <th>Room B</th>
                    <th>Room C</th>
                </tr>
                <tr *ngFor="let session of filterDay(2)">
                    <td colspan="3">
                        <table class="table-row">
                            <tr class="hour-row">
                                <td colspan="1" class="line"></td>
                                <td class="hour">
                                    {{session.starthour}}
                                    <span *ngIf="session.endhour"> - {{session.endhour}}</span>
                                </td>
                                <td colspan="1" class="line"></td>
                            </tr>
                            <tr class="session-row">
                                <td [attr.colspan]="setColspan(session.session1id)">
                                    <div class="with-image">
                                        <img *ngIf="session.imageurl" src="{{session.imageurl}}">
                                        <a [routerLink]="['/talks', session.session1id]"
                                           routerLinkActive="active">{{filterTalk(session.session1id) || session.text}}</a>
                                    </div>

                                </td>
                                <td [ngClass]="{'empty': !session.session1id}">
                                    <a [routerLink]="['/talks', session.session2id]"
                                       routerLinkActive="active">{{filterTalk(session.session2id)}}</a>
                                </td>
                                <td [ngClass]="{'empty': !session.session1id}">
                                    <a [routerLink]="['/talks', session.session3id]"
                                       routerLinkActive="active">{{filterTalk(session.session3id)}}</a>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
        </tab>
    </tabs>

</app-section>