<div class="layer"></div>

<main>

    <section class="banner">
        <div class="krakdroid-wrapper">
            <img markup-inline class="krakdroid" src="../../assets/images/krakdroid-01.svg" alt="krakdroid">
        </div>
        <div class="conference-info">
            <span class="name">droidcon</span>
            <span class="date">1st-2nd December 2017</span>
        </div>
    </section>

    <section class="address">
    <span>
      WPiA Jagiellonian University, <br/>
      ul. Krupnicza 33a, Kraków
    </span>
    </section>

    <section class="call-for-papers">
        <a class="button green"
           href="https://goo.gl/forms/j2o5cgCfF3mIgI523"
           target="_blank">Call 4 Papers</a>
    </section>

</main>