@import "../shared/variables";
@import "../shared/media-mixins";
@import "./krakdroid-animation";
@import "../shared/link/link.component";

$krakdroid-height: 100px;

:host {
    display: flex;
    flex-flow: column;

    main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 20px 0;

        //backgroud photo
        .shadow-layer,
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .shadow-layer {
            background-color: rgba(0, 0, 0, 0.6);
        }
        &::before {
            content: '';
            position: absolute;
            background-image: url('../../assets/images/bg.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity : 0.8;
        }
        section {
            z-index: 1;
            display: flex;
            flex-direction: column;
            max-width: 240px;
            color: white;

            &.banner {
                .krakdroid-wrapper {
                    display: flex;
                    margin-bottom: 25px;
                    .krakdroid {
                        height: $krakdroid-height;
                        margin: 0 auto;
                    }
                }
                .conference-info {
                    display: flex;
                    flex-flow: column;
                    .name {
                        font-family: $neris-black;
                        color: $green;
                        font-size: 47px;
                        line-height: 43px;
                        margin: 0 auto;
                    }
                    .date {
                        font-family: $roboto-condensed;
                        font-weight: 300;
                        font-size: 20px;
                        margin: 0 auto;
                    }
                }
            }
            &.address {
                font-family: $neris-semi-bold;
                font-size: 14px;
            }
            &.get-app {
                div {
                    text-align: center;
                    font-family: $neris-black;
                }
                img {
                    width: 200px;
                }
            }
        }
        section + section {
            margin-top: 25px;
        }
    }
    .shadow-span {
        text-shadow: 0 0 5px #000000;
    }
}

@include media-sm {
    :host main section {
        &.banner {
            .krakdroid-wrapper {
                .krakdroid {
                    height: 1.5*$krakdroid-height;
                }
            }
            .conference-info {
                .name {
                    font-size: 60px;
                    line-height: 56px;
                }
                .date {
                    font-size: 24px;
                }
            }
        }
        &.address {
            font-size: 18px;
        }
        &.main-buttons {
            justify-content: center;
        }
        &.get-app {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@include media-md {
    :host {
        main section {
            min-width: 500px;
            max-width: 500px;
            flex-direction: row;
            &.banner {
                .krakdroid-wrapper {
                    width: 160px;
                    margin-bottom: 0;
                    .krakdroid {
                        height: 2*$krakdroid-height;
                        margin-right: 10px;
                    }
                }
                .conference-info {
                    margin-top: 5%;
                    .name {
                        font-size: 78px;
                        line-height: 74px;
                        margin: 0;
                    }
                    .date {
                        font-size: 32px;
                        margin: 0;
                    }
                }
            }
            &.address {
                font-size: 20px;
                padding-left: 160px;
            }
        }
        main section + section {
            margin-top: 40px;
        }
    }
}

@include media-lg {
    :host main section {
        max-width: 600px;
        min-width: 600px;
        &.banner {
            .krakdroid-wrapper {
                width: 200px;
                .krakdroid {
                    height: 2.5*$krakdroid-height;
                }
            }
            .conference-info {
                .name {
                    font-size: 92px;
                    line-height: 88px;
                }
                .date {
                    font-size: 38px;
                }
            }
        }
        &.address {
            font-size: 22px;
            padding-left: 200px;
        }
    }
}

@include media-xl {
    :host main section {
        max-width: 800px;
        min-width: 800px;

        &.banner {
            .krakdroid-wrapper {
                width: 280px;
                .krakdroid {
                    height: 3.5*$krakdroid-height;
                    margin-right: 40px;
                }
            }
            .conference-info {
                .name {
                    font-size: 127px;
                    line-height: 120px;
                }
                .date {
                    font-size: 52px;
                }
            }
        }
        &.address {
            font-size: 26px;
            padding-left: 280px;
        }
    }
}

//---------------------Featured video styling
app-section.featured-video .video-frame {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;

    iframe {
        width: 80%;
        height: 80%;
        margin-top: 20px;
    }
}

@include media-md {
    app-section.featured-video .video-frame {
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        iframe {
            height: 150px;
            width: 270px;
        }
    }
}

//---------------------Participate styling
app-section.participate {
    div + div {
        margin-top: 20px;
    }
    img {
        width: 60px;
        margin: 20px auto 10px;
        display: block;
    }
    sh-button {
        margin: 0 auto;
    }
}

@include media-md {
    app-section.participate {
        div[class^=col-] {
            display: flex;
            flex-flow: column;
        }
        div + div {
            margin-top: 0;
        }
        img {
            width: 80px;
            margin: 0 auto 20px;
        }
        p {
            width: 100%;
            flex: 1;
        }
        sh-button {
            margin-top: 10px;
        }
    }
}


//---------------------Submissions styling
app-section.submission {
    a {
        margin: 20px auto 0;
    }
}

//---------------------Sponsors styling
app-section.sponsors {
    a {
        margin: 20px auto 0;
    }
}


//---------------------Newsletter styling
app-section.newsletter {
    #mc_embed_signup {
        width: 80%;
        margin: 20px auto 0;

        #mc_embed_signup_scroll {
            display: flex;
            flex-flow: column;
            align-items: center;

            .mc-field-group {
                width: 100%;
            }
            .button {
                color: $white;
                background-color: $green;
                display: flex;
                width: 150px;
                height: 35px;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 5px;
                margin: 5px 10px;
                transition: background-color .2s ease-in;
                font-family: $neris-semi-bold;
                font-size: $font-sm;
                cursor: pointer;
                outline: none;
                &:hover, &:visited, &:active, &:focus {
                    text-decoration: none;
                }
                &:hover {
                    background-color: $green-01;
                }
            }
            .input {
                width: 100%;
                height: 35px;
                padding: 5px 15px;
                border: none;
                border-radius: 5px;
                color: $dark;
                font-size: $font-sm;
                outline: none;
            }
        }
    }
}

@include media-md {
    app-section.newsletter #mc_embed_signup {
        #mc_embed_signup_scroll {
            flex-flow: row;

            .button {
                height: 45px;
                width: 200px;
                font-size: $font-lg;
                margin: 0 10px;
            }
            .input {
                height: 45px;
                font-size: $font-lg;
            }
        }
    }

}