<main>
    <div class="shadow-layer"></div>
    <section class="banner">
        <div class="krakdroid-wrapper">
            <img markup-inline class="krakdroid" src="../../assets/images/krakdroid-01.svg" alt="krakdroid">
        </div>
        <div class="conference-info">
            <span class="name shadow-span">droidcon</span>
            <span class="date shadow-span">1st-2nd December 2017</span>
        </div>
    </section>

    <section class="address">
        <span class="shadow-span">
          WPiA Jagiellonian University, <br/>
          ul. Krupnicza 33a, Kraków
        </span>
    </section>

    <section class="main-buttons">
        <sh-button routerLink="/agenda"
                   routerLinkActive="active"
        >Agenda</sh-button>
    </section>

    <section class="get-app">
        <div>Get droidconPL app!</div>
        <a href='https://play.google.com/store/apps/details?id=pl.droidcon.app&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
            alt='Get it on Google Play'
            src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
    </section>

</main>

<app-section class="white"
             [title]="'About'">
    <p class="big-paragraph">
        droidcon is a global developer conference series and a network focusing on the best of Android.
        The idea behind droidcon is to support the Android platform and create a strong network for developers and
        companies.
    </p>
    <p class="big-paragraph">
        This is already 4th edition of droidcon in Kraków and we can't wait to meet you!
    </p>
    <div class="time-place">
        <div class="place">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <div>
                WPiA Jagiellonian University, <br/>
                ul. Krupnicza 33a, Kraków
            </div>
        </div>
        <div class="time">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <div>1st-2nd December 2017</div>
        </div>
    </div>

</app-section>

<app-section class="light featured-video"
             [title]="'See what happened so far'">
    <p class="big-paragraph">
        Watch some of our featured videos to see what happened during droidcon Kraków 2016 and 2015.
    </p>
    <div class="video-frame">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Dg-dbrP9PaM"
                frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bbmM2U90T3Q"
                frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/g2WF_Ttwho0"
                frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="small-paragraph">
        <sh-link [hrefUrl]="'https://www.youtube.com/c/droidconKrakow'"
                [isExternal]="true"
        >Watch all</sh-link>
    </p>
</app-section>

<app-section class="participate green"
             [title]="'Participate in 2017'">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="../../assets/images/learn_button.png" alt="Pencil icon">
                <p class="big-paragraph">
                    New place, more new speakers, two days full of android talks! You simply
                    must be there this year!
                </p>
                <sh-button [url]="'https://goo.gl/jDTiXm'"
                           [isExternal]="true"
                           class="white"
                >Buy a ticket</sh-button>
            </div>
            <div class="col-12 col-md-4">
                <img src="../../assets/images/teach_button.png" alt="Talkin bubble icon">
                <p class="big-paragraph">
                    Have knowledge about Android technology and want to share it with others? Nothing more simple!
                    Call For Papers is already closed. But you can make it during Barcamp on 2nd day!
                </p>
            </div>
            <div class="col-12 col-md-4">
                <img src="../../assets/images/support_button.png" alt="Heart icon">
                <p class="big-paragraph">
                    Help us make the conference a better event simply by donating, volunteering or supporting us in
                    social media! Contact us for more information!
                </p>
                <sh-button [url]="'mailto:contact@droidcon.pl'"
                           [isExternal]="true"
                           class="white"
                >Contact us</sh-button>
            </div>
        </div>
    </div>
</app-section>

<speaker-preview></speaker-preview>
<sponsors></sponsors>
<partners></partners>
