@import "../variables";
@import "../media-mixins";

:host {
    display: flex;
    flex-flow: column;
    font-family: $neris-light;
    border-radius: 5px;

    header {
        background-color: $green;

        .controls {
            display: flex;
            justify-content: flex-end;
            padding: 15px;

            i {
                cursor: pointer;
                color: $light;
                border: none;
                border-radius: 50px;
                height: 25px;
                width: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                -webkit-transition: border 0.2s ease;
                transition: border 0.2s ease;

                &:hover {
                    border: 2px solid $light;
                }
                &::before {
                    height: 17px;
                    width: 12px;
                }
            }
        }
        .profile {
            margin-bottom: 20px;
        }
    }
    section {
        background-color: $white;
        padding: 15px 30px 30px;
        font-size: $font-xs;

        p.biography {
            text-align: justify;
            text-indent: 30px;
        }
        .social {
            display: flex;
            flex-flow: row;
            justify-content: center;

            a {
                display: block;
                height: 20px;
                margin: 0 10px;
                cursor: pointer;

                .cls-1{
                    fill: $green;
                }
                * {
                    height: inherit;
                }
            }
        }
    }
}

@include media-md {
    :host {
        section {
            font-size: $font-md;
            padding: 25px 50px 40px;

            p.biography {
                text-indent: 50px;
            }
            .social a {
                height: 25px;
                margin: 0 15px;
            }
        }
    }
}

@include media-lg {
    :host {
        section {
            font-size: $font-lg;

        }
    }
}