<header>
    <div class="controls">
        <i class="fa fa-times" aria-hidden="true" (click)="close()"></i>
    </div>
    <div class="profile">
        <profile [profile]="context"></profile>
    </div>
</header>

<section>
    <p class="biography">
        {{context.biography}}
    </p>
    <div class="social">
        <a class="link" *ngIf="context.twitter" href="https://twitter.com/{{context.twitter}}" target="_blank" rel="noopener">
            <img markup-inline src="../../../assets/images/twitter.svg" alt="Twitter Icon">
        </a>
        <a class="link" *ngIf="context.facebook" href="https://www.facebook.com/{{context.facebook}}" target="_blank" rel="noopener">
            <img markup-inline src="../../../assets/images/facebook.svg" alt="Facebook Icon">
        </a>
        <a class="link" *ngIf="context.github" href="{{context.github}}" target="_blank" rel="noopener">
            <img markup-inline src="../../../assets/images/github.svg" alt="Github Icon">
        </a>
        <a class="link" *ngIf="context.linkedin" href="{{context.linkedin}}" target="_blank" rel="noopener">
            <img markup-inline src="../../../assets/images/linkedin.svg" alt="LinkedIn Icon">
        </a>
        <a class="link" *ngIf="context.website" href="{{context.website}}" target="_blank" rel="noopener">
            <img markup-inline src="../../../assets/images/website.svg" alt="Web Icon">
        </a>
    </div>
</section>
