@import "../../shared/media-mixins";
@import "../../shared/variables";

:host {
    display: block;
    padding: 15px 0;
    border-top: 1px solid $grey;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $neris-semi-bold;
        color: $green;
        font-size: $font-md;
        cursor: pointer;

        i {
            margin-left: 5px;
        }
    }

    .description {
        font-size: $font-sm;
        margin-top: 10px;

        .additional-info {
            display: flex;
            flex-flow: column;
            margin-top: 10px;

            a:not(:last-child)::after {
                content: " & ";
                color: $dark;
            }
        }
    }
}

@include media-md {
    :host {
        .title {
            font-size: $font-lg;
        }
        .description {
            font-size: $font-md;

            .additional-info {
                flex-flow: row;
                justify-content: space-between;
            }
        }
    }
}
