@import '../shared/variables';
@import "../shared/media-mixins";

$link-padding: 10px;
$line-height: 30px;

:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    z-index: $menu-index;

    nav.navbar {
        position: unset;
        padding: 0;

        a.navbar-brand {
            padding: 0;
            margin: 0;

            img {
                height: 40px;
                padding: 10px;
                box-sizing: content-box;
            }
        }

        ul.navbar-nav {
            a.nav-link {
                font-family: $neris-black;
                padding: $link-padding;
                line-height: $line-height;
                color: $dark;

                &.green {
                    color: $green;
                }
            }
            li.dropdown {
                position: unset;

                div.dropdown-menu {
                    border: none;
                    border-radius: 0;
                    margin-top: 0;
                    padding: 0;

                    ul.submenu {
                        display: flex;
                        flex-flow: column;
                        padding: 0;

                        li.dropdown-item {
                            outline: none;

                            &:active, &:hover, &:focus {
                                background-color: transparent;
                            }
                        }
                    }
                    a.nav-link {
                        font-family: $neris-semi-bold;
                        line-height: 20px;
                        padding: 5px;
                        outline: none;
                    }
                }
            }
        }

        #aboutDropdownLink::after {
            display: none;
        }
    }
}

$navbar-height-md: 60px;

@include media-md {
    :host nav.navbar {
        height: $navbar-height-md;

        a.navbar-brand {
            height: inherit;

            img {
                height: inherit;
                box-sizing: border-box;
            }
        }

        ul.navbar-nav li.dropdown div.dropdown-menu {
            top: $navbar-height-md;
            margin-top: 0;
            left: 0;
            right: 0;
            flex-flow: row;
            justify-content: flex-end;
            padding: 0;
            background-color: $light-2;

            &.show {
                display: flex;
            }

            ul.submenu {
                display: flex;
                flex-flow: row;
                justify-content: flex-end;

                li.dropdown-item {
                    width: auto;
                    padding: 5px 10px;
                }
            }

        }
    }
}

$navbar-height-lg: 90px;

@include media-lg {
    :host nav.navbar {
        height: $navbar-height-lg;

        a.navbar-brand {
            display: flex;
            align-items: center;
            img {
                height: 54px;
                box-sizing: content-box;
            }
        }

        ul.navbar-nav {

            li.nav-item {
                a.nav-link {
                    font-size: 22px;
                    padding: 10px 30px;
                }
            }

            li.dropdown div.dropdown-menu {
                top: $navbar-height-lg;

                a.nav-link {
                    line-height: 25px;
                    font-size: 17px;
                    padding: 5px 15px;
                }
            }
        }
    }
}