<div class="container-fluid">
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" routerLink="" routerLinkActive="active">
            <img src="../../assets/images/droidcon-logo-simple.png"
                 alt="Krakdroid logo">
        </a>
        <button #navbarToggler
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                (click)="toggle()">
            <div id="nav-icon-toggler" [class.open]="isOpen">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       routerLink=""
                       routerLinkActive="active"
                       (click)="toggleNav()">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href=""
                       id="aboutDropdownLink"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu">
                        <div class="container-fluid">
                            <ul class="submenu" aria-labelledby="aboutDropdownLink">
                                <li class="dropdown-item">
                                    <a class="nav-link"
                                       routerLink="/code-of-conduct"
                                       routerLinkActive="active"
                                       (click)="toggleNav()">Code of Conduct</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link"
                                       routerLink="/faq"
                                       routerLinkActive="active"
                                       (click)="toggleNav()">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href=""
                       id="programDropdownLink"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Program '17
                    </a>
                    <div class="dropdown-menu">
                        <div class="container-fluid">
                            <ul class="submenu" aria-labelledby="programDropdownLink">
                                <li class="dropdown-item">
                                    <a class="nav-link"
                                       routerLink="/speakers"
                                       routerLinkActive="active"
                                       (click)="toggleNav()">Speakers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="https://goo.gl/forms/j2o5cgCfF3mIgI523"
                       target="_blank">Call For Papers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link green"
                       href="https://goo.gl/jDTiXm"
                       target="_blank">TICKETS</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
