@import '../shared/variables';
@import "../shared/media-mixins";

$link-padding: 10px;
$line-height: 30px;

:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    z-index: $menu-index;

    nav.navbar {
        position: unset;
        padding: 0;

        a.navbar-brand {
            padding: 0;
            margin: 0;

            img {
                height: 40px;
                padding: 10px;
                box-sizing: content-box;
            }
        }

        ul.navbar-nav {
            a.nav-link {
                font-family: $neris-black;
                padding: $link-padding;
                line-height: $line-height;
                color: $dark;

                &.green {
                    color: $green;
                }
            }
            li.dropdown {
                position: unset;

                ul.dropdown-menu {
                    border: none;
                    border-radius: 0;

                    a.nav-link {
                        font-family: $neris-semi-bold;
                        line-height: 20px;
                        padding: 5px;
                    }
                }
            }
        }

        #aboutDropdownLink::after {
            display: none;
        }
    }
}

$navbar-height-md: 60px;

@include media-md {
    :host nav.navbar {
        height: $navbar-height-md;

        a.navbar-brand {
            height: inherit;

            img {
                height: inherit;
                box-sizing: border-box;
            }
        }

        ul.navbar-nav li.dropdown ul.dropdown-menu {
            top: $navbar-height-md;
            margin-top: 0;
            left: 0;
            right: 0;
            flex-flow: row;
            justify-content: flex-end;
            padding: 0;
            background-color: $light-2;

            &.show {
                display: flex;
            }
            li.dropdown-item {
                width: auto;
            }
            //a.nav-link {
            //}
        }
    }
}