@import '../shared/media-mixins';

@include media-md {
    :host .container-fluid {
        width: 740px;
    }
}

@include media-lg {
    :host .container-fluid {
        width: 980px;
    }
}

@include media-xl {
    :host .container-fluid {
        width: 1200px;
    }
}
