<app-section [title]="'17 lineup'">
    <ngx-carousel
        [inputs]="carouselOne"
        (carouselLoad)="myFunc($event)">
        <ngx-item *ngFor="let i of speakers" NgxCarouselItem>
            <a href=""
               target="_blank"
               class="speaker col-6 col-sm-4">
                <img src="{{i.photourl}}" alt="{{i.name}} photo">
                <span class="name">{{i.name}} {{i.surname}}</span>
                <span class="title">{{i.title}}</span>
            </a>
        </ngx-item>
        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
</app-section>