@import "../shared/paragraph";
@import "../shared/variables";
@import "../shared/media-mixins";

:host {
    .partners {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .partner {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 120px;
        margin: 10px;

        &:hover {
            text-decoration: none;
            color: $dark;
        }
        img {
            max-width: 100%;
            max-height: 60px;
            margin-bottom: 5px;
        }
        span {
            font-size: $font-xxs;
            font-weight: 600;
            color: $dark;
            margin-top: 5px;
            white-space: nowrap;
        }
    }
    sh-button {
        margin: 20px auto 0;
    }
}

@include media-md {
    :host {
        .partner {
            width: 150px;

            img {
                max-height: 70px;
            }
            span {
                font-size: $font-xs;
            }
        }
    }
}

@include media-lg {
    :host {
        .partners {
            margin-bottom: 30px;
        }
        .partner {
            width: 230px;
            margin: 15px;

            img {
                max-height: 120px;
            }
            span {
                font-size: $font-md;
            }
        }
        sh-button {
            margin: 40px auto 0;
        }
    }
}