<app-section class="white"
             [title]="'Our sponsors'">

    <div class="container">
        <div class="row partners">
            <a href="{{i.websiteurl}}"
               target="_blank"
               *ngFor="let i of sponsors"
               class="partner"
               [class.disactivate]="!i.websiteurl">
                <img src="{{i.logourl}}" alt="{{i.name}} logo">
                <span>{{i.type}} sponsor</span>
            </a>
        </div>
    </div>

    <p class="big-paragraph">
        If you want to become a sponsor for droidcon Kraków 2018,
        please contact us to get detailed sponsors offer.
    </p>
    <sh-button [url]="'mailto:contact+sponsor@droidcon.pl'"
               [isExternal]="true"
    >Get offer</sh-button>
</app-section>